*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body
{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #e8e8e8;
    width: 100%;
    min-height: 100vh;
}

body *::selection{
    background-color: #64020088;
}

a{
    text-decoration: none;
    color: #1a1a1a;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
}

h2{
    font-size: calc(1.5rem + .6vw);
}

p{
    font-weight: 400;
}

p,span,b,i{
    font-family: 'Dosis', sans-serif;
    font-size: calc(1rem + .3vw);
    font-weight: 200;
}